@inherits LayoutComponentBase

<PageTitle>BlazorPhotoLibrary</PageTitle>

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand px-4" href="">Photo Library</a>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
